%p.in-gold-500.font-18.mb-25
  = t('password')
= form_for current_user, url: user_settings_path, method: :patch, class: "general-form-md divider-lg-bottom pb-25" do |f|
  .form-group.mb-30{class: "#{error_class(current_user, :current_password)}"}
    = f.label :current_password, "Old Password", class: "control-label input-label"
    = f.password_field :current_password, placeholder: "Old Password", class: "form-control"
    %span.help-block= show_errors(current_user, :current_password)
  .form-group.mb-30{class: "#{error_class(current_user, :password)}"}
    = f.label :password, t('type_new_password'), class: "control-label input-label"
    = f.password_field :password, placeholder: t('type_new_password'), id: "password", class: "form-control"
    %span.help-block= show_errors(current_user, :password)
  .form-group.mb-40{class: "#{error_class(current_user, :password_confirmation)}"}
    = f.label :password_confirmation, t('confirm_password'), class: "control-label input-label"
    = f.password_field :password_confirmation, placeholder: t('confirm_password'), id: "confirmPassword", class: "form-control"
    %span.help-block= show_errors(current_user, :password_confirmation)
  .general-text-align
    = f.button t('save'), class: "btn btn-default mb-10", name: "commit", value: "password"