.general-order-wrap
  .row
    .col-sm-4
      = form_tag(cart_path, method: :patch, class: "input-group general-input-group") do
        = token_tag
        = label_tag t('enter_coupon')
        = text_field_tag :code, '', placeholder: t('enter_coupon'), class: "form-control mb-30"
        %div
          = submit_tag t('apply_coupon'), class: "btn btn-primary mr-5 mb-15"
    .col-sm-8
      .res-mr-200.text-center.general-text-right
        %p.in-gold-500.font-18 Order Summary
        %table.general-summary-table.general-summary-table-right.general-text-right
          = render 'orders/order_summary'
        - if current_user
          = button_to t('checkout'), class: "btn btn-default mb-20 visible-xs-inline-block"
        - else
          = link_to t('checkout'), checkout_login_path, class: "btn btn-default mb-20 visible-xs-inline-block"
- if current_user
  = button_to t('checkout'), class: "btn btn-default mb-20 hidden-xs center-block"
- else
= button_to t('checkout'), checkout_login_path, method: :get, class: "btn btn-default mb-20 hidden-xs center-block"