.hidden-xs
  %table.table.table-hover
    %tr.no-hover
      %th.col-pic.pl-0
        %span#product-label.in-grey-600= t('product')
      %th.col-title
      %th.col-price
        %span.in-grey-600= t('price')
      %th.col-quantity
        %span.in-grey-600= t('book_quantity')
      %th.col-total
        %span.in-grey-600= t('subtotal')
      %th.col-close
    - @order.order_items.order(:created_at).each do |order_item|
      %tr
      %td
        .general-img-wrap-table
          = image_tag BookImageService.new(order_item.book).image_url, class: "cart-img-shadow pull-left"
      %td
        %p.title= link_to "#{order_item.book.title}", order_item.book, class: "in-gold-500"
      %td
        %span.font-16.in-gold-500= order_item.book.decorate.book_price
      %td
        .input-group{style: "width: 100%;"}
          = form_for order_item, method: :patch do |f|
            = f.hidden_field :quantity, value: order_item.quantity - 1
            = f.button "", class: "btn btn-link input-link", style: "padding-left: 0px;padding-right: 0px;" do
              %i.fa.fa-minus.line-heaght-40
          %input#order-quantity.form-control.quantity-input{type: "text", value: "#{order_item.quantity}"}
          = form_for order_item, method: :patch do |f|
            = f.hidden_field :quantity, value: order_item.quantity + 1
            = f.button "", class: "btn btn-link input-link", style: "padding-left: 0px;padding-right: 0px;" do
              %i.fa.fa-plus.line-heaght-40
      %td
        %span.font-16.in-gold-500= order_item.decorate.order_item_subtotal
      %td
        = link_to order_item, method: :delete, data: {confirm: t('sure')}, class: "close general-cart-close", "aria-label": "Close" do
          %span{'aria-hidden': "true"} &times;