%main.container
  = link_to :back, class: "general-back-link" do
    %i.fa.fa-long-arrow-left.mr-15
    = I18n.t('back_to_results')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          %img.img-responsive{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
        .images.clearfix
          %a.img-link{href: "#"}
            %img{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
          %a.img-link{href: "#"}
            %img{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
          %a.img-link{href: "#"}
            %img{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.decorate.book_authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= @book.decorate.book_price
          .col-xs-5.col-md-3
            .input-group.general-position
              %a#decrease.input-link{href: "#"}
                %i.fa.fa-minus.line-height-40
              %a#increase.input-link{href: "#"}
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
      .span#quantity-info.lead.small
      .general-info-wrap.divider-lg
        %p= I18n.t('book_description')
        %p.lead.small.line-height-2{id: "short-desc"}
          = @book.decorate.shorten_description
        %p.lead.small.line-height-2{style: "display: none", id: "long-desc"}
          = @book.description
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= I18n.t('book_year')
          %p.lead.small.pull-right= @book.year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= I18n.t('book_dimensions')
          %p.lead.small.pull-right= @book.decorate.book_dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= I18n.t('book_materials')
          %p.lead.small.pull-right= @book.materials
  - if can? :create, Review
    = render 'reviews/review_form'
  = render template: 'reviews/index'